* {
    box-sizing: border-box;
}
html{
    height:100%;
}
body {

    /*background-color: rgb(253 252 248);*/
    display: flex;
    flex-direction: column;
    height:100%;
    /*background-color: white;*/
    /*background-color: #101129;*/
    /*background: linear-gradient(to right, #051937, #004d7a);*/
    background-image: url(V-116531-F6CD9306.jpg);
    margin:0;
}

@keyframes glowing-border {
    0% {
        border-color: #007bff;
    }
    50% {
        border-color: #000080;
    }
    100% {
        border-color: #007bff;
    }
}

#top{
    order:1;
    flex-basis: 7%;
    justify-content: center;
}
#main{
    display: flex;
    flex-direction: row;
    order:2;
    flex-basis: 75%;
}
#bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    order:3;
    flex-basis: 18%;
}
#header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /*background: linear-gradient(to bottom, rgb(11, 56, 105), #051937);*/
    /*background-image: url(V-113084-AB9E5FCD.jpg);*/
    border-bottom: 2px solid transparent;
    animation: bright-border 2s linear infinite;
    flex-direction: row;
}

#time{
    /* flex-basis: 20%; */
    /*float:right;*/
    position: absolute;
    right: 7%;
    bottom: 93.3%;
    color:white;
    font-size: 1.5vw;
    text-align: center;
}

#icon {
    /*flex-basis: 20%;*/
    display: flex;
    width: 3.5em;
    height: 3.5em;
    border: 3px solid transparent;
    border-top-color: #3cefff;
    border-bottom-color: #3cefff;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}

#icon:before {
    content: '';
    display: block;
    margin: auto;
    width: 0.75em;
    height: 0.75em;
    border: 3px solid #3cefff;
    border-radius: 50%;
    animation: pulse 1s alternate ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

@keyframes bright-border {
    0% {
        border-color: black;
    }
    50% {
        border-color: #ffffff;
    }
    100% {
        border-color: black;
    }
}

.loader {
    position: relative;
}

.outer,
.middle,
.inner {
    border: 3px solid transparent;
    border-top-color: #3cefff;
    border-right-color: #3cefff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
}

.outer {
    width: 3.5em;
    height: 3.5em;
    margin-left: -1.75em;
    margin-top: -1.75em;
    animation: spin 2s linear infinite;
}

.middle {
    width: 2.1em;
    height: 2.1em;
    margin-left: -1.05em;
    margin-top: -1.05em;
    animation: spin 1.75s linear reverse infinite;
}

.inner {
    width: 0.8em;
    height: 0.8em;
    margin-left: -0.4em;
    margin-top: -0.4em;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}



#title {
    text-align: center;
    display: flex;
    flex-basis: 60%;
    align-items: center;
    justify-content: center;
    font-size: 2.5vw;
    font-family:  Georgia,serif;
    font-weight: bolder;
    color:rgb(104,216,254);
    color:white;
    margin-left: 270px;
    margin-right: 270px;
}

#content{
    display: flex;
    flex-basis: 12.5%;
    /*width: 10%;*/
    /*height: 100%;*/
    /*max-width: 15%;*/
}
#content ul{
    display: flex;
    height:100%;
    width:100%;
    flex-direction: column;
}

#content ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    height:7%;
    width:100%;
    text-align: center;
    /*border-radius:5%;*/
    color:white;
    /*font-size: 100%;*/
    font-size: 1vw;
    margin-bottom: 5%;
    margin-top: 5%;
    /*padding-bottom: 12.5%;*/
    /*padding-top: 12.5%;*/
    border: 0.5px solid red;
    border-image: url(border.png) 25 25 25 25;
    border-width: 0.6rem 0.5rem 0.25rem 0.75rem;
    background-color: rgb(2,6,13);
}


#content ul p{
    /*background-color: #202020;*/
    height:8%;
    font-size: 1.5vw;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    /*border-bottom:0.1vw solid white;*/
}
#content ul li:hover{
    cursor: pointer;
    height: 10%;
    transition: height 0.5s;
    /*background-color: #343441;*/
    background-color: rgb(16,17,41);
    color:white;
}
#line{
    display:block;
    /*position:relative;*/
    position:absolute;
    top:50%;
}

#display{
    flex-basis: 75%;
    background-color: rgb(2,6,13);
    box-shadow: 10px 0 10px -5px white, -10px 0 10px -5px white;
    /*border-bottom:0.1vw white solid;*/
    border-bottom:0.1vw solid transparent;
    animation: bright-border 2s linear infinite;
}


#fra{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
}

#tools{
    flex-basis: 12.5%;
    display: flex;
}

#tools ul{
    display: flex;
    height:100%;
    width:100%;
    border-right: 1px solid white;
    flex-direction: column;
}

#tools ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    height:7%;
    width:100%;
    text-align: center;
    /*border-radius:5%;*/
    color:white;
    /*font-size: 100%;*/
    font-size: 1vw;
    margin-bottom: 5%;
    margin-top: 5%;
    /*padding-bottom: 12.5%;*/
    /*padding-top: 12.5%;*/
    border: 0.5px solid red;
    border-image: url(border.png) 25 25 25 25;
    border-width: 0.6rem 0.5rem 0.25rem 0.75rem;
    background-color: rgb(2,6,13);
}

#tools ul p{
    height:8%;
    font-size: 1.5vw;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    /*border-bottom:0.1vw solid white;*/
}

#tools ul li:hover{
    cursor: pointer;
    height: 10%;
    transition: height 0.5s;
    /*background-color: #343441;*/
    background-color: rgb(16,17,41);
    color:white;
}

#connect{
    border-top:0.1vw solid transparent;
    animation: bright-border 2s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 12.5%;
    height:100%;
    /*background-color: #101129;*/
}

#conbtn {
    display: inline-block;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 25px;
    background: linear-gradient(45deg, #00a6ff, #112233);
    /*background: linear-gradient(45deg, #ff0000, #880000);*/
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.15s ease-in-out;
}

#conbtn:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.2);
}

#menu{
    flex-basis: 12.5%;
    border-top:0.1vw solid transparent;
    animation: bright-border 2s linear infinite;
    height:100%;
    /*background-color: #202020;*/
}

#menu ul{
    display: flex;
    height:100%;
    width:100%;
    border-right: 1px solid white;
    /*background-color: #101129;*/
    flex-direction: column;
}

#menu ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    height:50%;
    width:100%;
    text-align: center;
    /*border-radius:5%;*/
    color:white;
    /*font-size: 100%;*/
    font-size: 1.1vw;
    padding-bottom: 3%;
    padding-top: 3%;

}


#menu ul li:hover{
    cursor: pointer;
    height: 60%;
    transition: height 0.5s;
    /*background-color: #343441;*/
    background-color: rgb(16,17,41);
    color:white;
}


#message{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 75%;
    height: 100%;
    flex-direction: row;
}

#message > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 20%;
    height: 100%;
    background-color: rgb(16,17,41);
    border: 1px solid grey;

}

#message div div{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    flex-basis: 50%;
    font-family: Verdana, Geneva, sans-serif;
    color:white;
    font-size: 1.3vw;
    border-right:0.5vw solid rgba(3,145,223,0.5);
    border-left:0.5vw solid rgba(3,145,223,0.5);
    border-bottom:0.5vw solid rgba(10,80,160,0.5);
    border-block-color: rgba(10,80,160,0.5);
    border-collapse: collapse;
    vertical-align: middle;
}

#signal_msg div{
    color: red;
}



@media screen and (max-width: 900px) {
    #main {
        flex-direction: column;
    }
    #content ul{
        flex-direction: row;
        width: 100%;
    }
    #content ul p{
        width:15%;
        height:100%;
    }
    #content ul li{
        display: flex;
        align-items: center;
        justify-content: center;
        height:100%;
        width:12%;
        text-align: center;
        border-radius:5%;
        color:white;
        font-size: 1vw;
        margin: 0;
        margin-right: 3%;
        margin-left: 3%;
    }
    #content ul li:hover{
        height:100%;
        width:20%;
    }

    #bottom{
        flex-basis: 12.5%;
    }
    #main{
        flex-basis: 82.5%;
    }
}
